@import "tailwindcss";

* {
    box-sizing: border-box;

    /* css for draw html to image not blur */
    -webkit-font-smoothing: antialiased;
    image-rendering: pixelated;
}


::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
